/* .red{
    color: red;
}

.change{
    background-color: blue;

} */
/* 


input{
    width: 200px;
    height: 40px;
    border-radius: 10px;

}


button{
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
}


.change{
    background-color: yellow;
    border: 2px solid red;
    font-size: 2rem;
} */



/* .visible{ */
    /* display: none; */
    /* visibility: hidden; */
/* } */




.red{
    color: red;
    
}